.aboutMeWrapper {
  color: #202020;
  padding: 50px 50px 50px 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.aboutMeWrapper h1{
  color: #202020;
  font-family: 'Permanent Marker', cursive;
}
