a {
  text-decoration: none;
  color: white;
}

.navWrapper {
  display: flex;
  letter-spacing: 3px;
  position: absolute;
}

.navLinkList a {
  margin-left: 25px;
  border-radius: 3px;
  padding: 5px;
}

.navLinkList a:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  animation: fadeIn 1.2s linear;
}

@keyframes fadeIn {
  0% {
    background-color: #191c21;
    color: white;
  }
  50%{
    color: black;
  }
  100%{
    background-color: white;
    color: black;
  }
}

.navWrapper ul {
list-style: none;
display: flex;
}
.navSocial {
  
}
