.dropdownContainer {
  width: 18vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  animation: fadeIn 1.2s linear;
  position: relative;
  z-index: 2;
  padding: 10px;
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }
  100%{
    opacity: 1
  }
}
