.title-container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 100%;
  background-image: url("./assets/sky.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
  font-family: 'Permanent Marker', cursive;
  font-size: 4rem; }

.arrow {
  margin: 25px 0 0 20px; }

.ted-reading img {
  width: 350px;
  margin-left: 30px; }

.ted-reading {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/tedreading.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 300px;
  width: 200px;
  margin-left: 20px; }
